.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 250px;
}

.footerDoormatNav,
.footerContactNav,
.footerSocialNav {
    display: flex;
    flex-direction: column;
}
.footerTitle {
    margin-bottom: -10px;
    font-size: 20px;
}

.footerBottom {
    background-color: #495E57;
    height: 30px;
    color: #F4CE14;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 915px) {
    .footerNav {
        margin: 20px 20px;
    }
}