.logo {
}

.navigation {
    margin: 10px 250px;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 915px) {
    .navigation {
        margin: 10px 10px;
    }
    .navLinks {
        gap: 5px;
    }
}